body,
ol,
ul {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #111;
    color: #fff;
}

#avatar {
    margin: auto;
    border-radius: 400px;
    width: 150px;
}

#container {
    margin: auto;
    max-width: 1200px;
}

#container,
#intro,
#projects {
    display: flex;
    flex-direction: column;
}

#intro,
#photos,
#playlists,
#projects,
#projects-inner {
    margin: auto;
    padding: 20px 40px;
    max-width: 1200px;
}

#photos,
#playlists {
    display: flex;
    flex-direction: column;
}

#container {
    padding: 0;
}

#intro {
    text-align: justify;
}

#photos-inner,
#playlists-inner,
#projects-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.photo-card,
.playlist-card,
.repo-card {
    margin: 20px;
    width: 300px;
}

.photo-card {
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.repo-card > div {
    background: #222 !important;
    border: 2px solid #333 !important;
}

.repo-card > div > div {
    color: #fff !important;
}

.repo-card a {
    color: #2f90ff !important;
}

.repo-card svg {
    fill: #777 !important;
}

.photo-card img,
.playlist-card img {
    width: 100%;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2,
p,
ol,
ul,
li {
    font-size: 20px;
    font-weight: 600;
}

p,
ol,
ul,
li {
    font-weight: 400;
    line-height: 30px;
}

ol,
ul,
li {
    line-height: 20px;
    margin: 5px;
}

a {
    text-decoration: none;
}

#intro a {
    color: #ffc800;
    border-bottom: 2px solid #ffc800;
    padding-bottom: 2px;
}

.github,
.github:active,
.github:hover {
    color: #2f90ff;
    border-bottom: 2px solid #2f90ff;
}

.spotify,
.spotify:active,
.spotify:hover {
    color: #1db954;
    border-bottom: 2px solid #1db954;
}

.instagram,
.instagram .underline,
.instagram:active,
.instagram:hover {
    background-image: -webkit-gradient(30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background-image: -moz-gradient(30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background-image: -ms-gradient(30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background-image: -o-gradient(30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.instagram,
.instagram:active,
.instagram:hover {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    vertical-align: text-top;
}

.instagram .underline {
    display: inline-block;
    height: 2px;
    width: 100%;
    margin-top: 2px;
}

@media screen and (max-width: 1024px) {
    .photo-card,
    .playlist-card,
    .repo-card {
        width: 200px;
    }

    .photo-card {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    #intro,
    #photos,
    #playlists,
    #projects,
    #projects-inner {
        padding: 10px;
    }

    .photo-card,
    .playlist-card,
    .repo-card {
        margin: 10px;
    }
}
